*{
	padding: 0;
	margin: 0;
	background: #000;
	color: #fff;
}

.container{
	width:1000px;
	margin:0 auto;
}

.navi{
	display: flex;
	width: 555px;
	margin:0 auto;
	list-style-type: none;
	justify-content: space-between;
}

.navi2 a:hover{
	background: #ffff00;
}


.navi2{
	/* background: #fff;
	color: #707070;
    padding:15px 55px; */
}

.navi2 a{
	background: #fff;
	color: #707070;
	padding: 20px 55px;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

h1{
	text-align: center;
}

.setumei{
    text-align: center;
    padding:2em;
    line-height: 2em;
}

.list{
    border-left: solid 10px #fff;
	border-bottom: solid 1px #fff;
	padding-left: 8px;
	font-size: 20px;

}

.list2{
    width: 640px;
    display: inline-block;
    margin-top: 1em;
}

.moon{
    float: right;
}

.otukimi{
    margin-top: 100px;
}

.tanabata{
    float: right;
}

.list3{
    width: 600px;
    display: inline-block;
    margin-top:1em ;
}

.copy{
    margin-top:300px;
    text-align: center;
}